<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Паркуемся</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=2e15011f-1e32-4c8d-b5c8-7066e49b0a16&lang=ru_RU"
    type="text/javascript"></script>

  <script defer src="/js/map.js"></script>



</head>

<body>

  <div id="main-container">
  
    <div class="nav">
      {{> nav}}
    </div>

    <div class="common">
      {{{body}}}
    </div>
  
    {{!-- <div id="templatemo_footer">
      Copyright © 2021 <a href="#">Lexa's</a>
    </div> --}}

  </div>

</body>

</html>
