<div class="form">
  <form action="/login" method="POST" id="login">
    <input type="email" name="email" placeholder="e-mail">
    <input type="password" name="password" placeholder="password">
    <button>Войти</button>
  </form>
</div>
