<div>
  <form id="newSpace" action="/spaces/new" method="POST">
    <input type="number" placeholder="Номер" name="number">
    <select name="pass">
      <option value="true">Для легковой</option>
      <option value="false">Для грузовой</option>
    </select>
    <input type="text" placeholder="Инфо" name="info">
    <input type="number" placeholder="Цена" name="price">
    <button>Сохранить</button>
  </form>
</div>
