<div class="form">
  <form action="/signup" method="POST" id="signup">
    <input type="email" name="email" placeholder="e-mail">
    <input type="password" name="password" placeholder="пароль">
    <input type="text" name="userName" placeholder="введите имя">
    <select name="customer">
      <option value="true">Клиент</option>
      <option value="false">Админ</option>
    </select>
    <button>Зарегистрироваться</button>
  </form>
</div>
